body{margin:0 0;padding:0 0;}
.top{width:100%;height:87px;background-color:#4169E1;padding-top:16px;}
#title{font:bold 42px ו;padding-left:150px;color:#ffffff;}
#user{font:bold 16px ו;padding-left:80px;color:#ffffff;}
.bottom{width:100%;height:500px;}
.bottom .bar{height:490px;background-color:#4169E1;}
ul{list-style:none; font:bold 20px ו;}
#left_a{background:url(../picture/left.jpg) repeat-x; margin-top:30px; margin-right:10px;}
#left_b{background:url(../picture/left.jpg) repeat-x; margin-top:30px; margin-right:10px;}
#left_c{background:url(../picture/left.jpg) repeat-x; margin-top:30px; margin-right:10px;}
#left_d{background:url(../picture/left.jpg) repeat-x; margin-top:30px; margin-right:10px;}
a{ text-align:center; text-decoration:none;padding-left:10px; color:#FFFFFF; font-size:18px;}