body{margin:0 0;padding:0 0;}
body form {height:32px;padding-top:6px;padding-left:100px; background-color:#4169E1;margin:0 0;color:#ffffff;	}
.middle{font:bold 34px ו;padding-top:12px;}
.middle span{margin-right:400px;}
table {text-align:center;}