body{margin:0 auto;padding:0;background:url("../picture/background.jpg") no-repeat 50% 26px;}
.middle{margin-top:270px; padding-left:680px;height:100px;font:bold 18px ו;padding-top:12px;}
.bottom{font:bold 16px ו;color:#0000cc;text-align:center;padding-left:520px;padding-right:320px;}