<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>doReg</servlet-name>
    <servlet-class>com.doReg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>doGetU</servlet-name>
    <servlet-class>com.doGetU</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>doReg</servlet-name>
    <url-pattern>/servlet/doReg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>doGetU</servlet-name>
    <url-pattern>/servlet/doGetU</url-pattern>
  </servlet-mapping>
</web-app>
